.vs/
boilersGraphics/bin/
boilersGraphics/obj/
packages/
boilersGraphics.Test/bin/
boilersGraphics.Test/obj/
Setup/Release/
Setup/Debug/
boilersGraphics/gitversion.json
.axoCover/
UpgradeLog.htm
obj/
bin/
*.user
*.cache
coverage.xml
boilersGraphics.Test/TestResults/
