<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/boilersGraphics.Test/Logs/boilersGraphics.Test.log"
            archiveEvery="Day"
            archiveFileName="${specialfolder:folder=ApplicationData}/boilersGraphics.Test/Logs/boilersGraphics.Test_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            encoding="UTF-8" />
    <target name="fileErr" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/boilersGraphics.Test/Logs/boilersGraphics.Test_error.log"
            archiveEvery="Day"
            archiveFileName="${specialfolder:folder=ApplicationData}/boilersGraphics.Test/Logs/boilersGraphics.Test_error_{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            encoding="UTF-8" />
    <target name="console" xsi:type="Console" />
	<target name="debugger" xsi:type="Debugger" layout="[${level}]【${logger}】${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="fileErr" />
    <logger name="*" minlevel="Trace" writeTo="console" />
	<logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>

