<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap rescap">
  <Identity Name="dhq-boiler.boilersGraphics" Publisher="CN=F2E61F15-88E6-4972-ADC5-BF310C00F85F" Version="5.2.12.0" />
  <Properties>
    <DisplayName>boiler's Graphics</DisplayName>
    <PublisherDisplayName>dhq_boiler</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="boiler's Graphics" Description="boiler's Graphics は生まれたてのベクターグラフィックスドローイングツールです。" BackgroundColor="transparent" Square150x150Logo="Images\Square150x150Logo.png" Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscapeFlipped" />
          <uap:Rotation Preference="portraitFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="boilersgraphicsformat">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/xml">.bgff</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>boiler&apos;s Graphics Format File</uap:DisplayName>
            <uap:Logo>Images\Square150x150Logo.png</uap:Logo>
            <uap:InfoTip>Open boiler&apos;s Graphics</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>